h1{
    color: blueviolet;
    text-align: center;
    text-decoration: underline;
    
} 

h3{ 
    color: brown;
    text-align:center ;
    text-decoration:none;
    
    background-color:aqua;
    padding: 10px;
    border-radius: 20px 20px 20px 20px;
    
}

b{ 
    color: brown ;
}
img{ 
    width: 100%;
 ;
}

p{
    text-align:end;
}

s{
    color: blue;
}
a:hover{
    background-color: chartreuse;
    color: black;
}
h3:hover{
    background-color: black;
    color: white;
}
